{% extends 'kanban/kanban_base.html' %}

{% block title %}Task:
    {{ task.title }}
{% endblock %}

{% block content %}

    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <div class="card-body">
                    <h2>Task:
                        {{ task.title }}</h2>
                    <strong>Status:
                        {{ task.get_status_display }}
                        |</strong>
                    <button type="button" class="btn btn-primary">
                        <a href="{% url 'task-edit' task.uuid %}" style="color:#ffffff; text-decoration:none">Edit</a>
                    </button>
                    <button type="button" class="btn btn-secondary">
                        <a href="{% url 'index' %}" style="color:#ffffff; text-decoration:none">Back To Board</a>
                    </button>

                    <hr>


                        <p>
                            <strong>Description</strong>
                            <br>
                                {{ task.description }}
                            </p>

                            <p>
                                <strong>Comments</strong>
                                <br>
                                    <a href="{% url 'taskcomment-add-specific' task_pk=task.uuid %}">Add Comment</a>
                                    {% if task.taskcomment_set.all %}
                                        <ul>
                                            {% for task_comment in task.taskcomment_set.all %}
                                                <li>
                                                    <p>
                                                        {{ task_comment.text }}</p>
                                                    {{ task_comment.author }}
                                                    -
                                                    {{ task_comment.date_created }}
                                                    -
                                                    <a href="{% url 'taskcomment-edit-specific' pk=task_comment.pk %}">
                                                        Edit</a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </p>

                                <p>
                                    Author:
                                    {{ task.author }}
                                    <br>
                                        Group:
                                        {{ task.group }}
                                        <br>
                                            Date Created:
                                            {{ task.date_created }}
                                            <br>
                                                Last Modified:
                                                {{ task.date_modified }}
                                                <br></p>


                                            </div>
                                        </div>
                                    </div>
                                </div>


                            {% endblock %}
                        </p>
                    </p>
