{% extends 'kanban/kanban_base.html' %}

{% block title %}Task:
    {{ task.title }}
{% endblock %}


{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="card">
                <button type="button" class="btn btn-secondary">
                    <a href="{% url 'index' %}" style="color:#ffffff; text-decoration:none">Back To Board</a>
                </button>

                <div class="card-body">
                    <form method="post">
                        <table class="table">
                            {% csrf_token %}
                            {% for x in users %}
                                <tbody>
                                    <tr>
                                        <th scope="row">
                                            {{ x.username }}</th>
                                        {% for g in x.groups.all %}
                                            <td>
                                                <span class="badge badge-success">
                                                    <a href="{% url 'user-gr' name=x.id group=g.name param='remove' %}" style="color:#ffffff; text-decoration:none">{{ g.name }}</a>
                                                </span>
                                            </td>
                                        {% endfor %}

                                        {% for g in groups %}
                                            {% if not g in x.groups.all %}
                                                <td>
                                                    <span class="badge badge-danger">
                                                        <a href="{% url 'user-gr' name=x.id group=g.name param='add' %}" style="color:#ffffff; text-decoration:none">{{ g.name }}</a>
                                                    </span>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            {% endfor %}
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
