{% extends 'kanban/kanban_base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block title %}
    Sign Up
{% endblock %}

{% block content %}
    <div
        class="container">
        <!-- {% if form.errors %}
                                                        <p>Your username and password didn't match. Please try again.</p>
                                                    {% endif %} -->
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                                                                                                                                                                                        please login with an account that has access.</p>
        {% else %}
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card">
                        <div class="card-body">
                            <h2>Sign up</h2>
                            <form method="post" novalidate>
                                {% csrf_token %}
                                <!-- {{ form }} -->
                                {% for field in form.visible_fields %}
                                    {{ field.label_tag }}
                                    {{ field|add_class:'form-control' }}
                                {% endfor %}
                                <br/>
                                <button type="submit" class="btn btn-primary">Sign Up</button>
                                <button type="button" class="btn btn-secondary">
                                    <a type="primary" href="{% url 'accounts-login' %}" style="color:#ffffff; text-decoration:none">Login</a>
                                </button>
                            </form>

                        </p>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>{% endblock %}
